// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 50rem;
  padding-left: var(--spacer-2);
  padding-right: var(--spacer-2);
  margin-left:  auto;
  margin-right: auto;
}

footer {
  margin-top: var(--spacer-3);
  margin-bottom: var(--spacer-3);
  display: flex;
  justify-content: space-between;

  // a {
  //   color: var(--body-color);
  // }
}

.theme-picker {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  button {
    display: block;
    width: 200px;
    height: 75px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--body-color);
    color: var(--body-color);
    background-color: var(--body-bg);
    padding: 5px;
    margin: 5px;
  }
  
  button:hover {
    background-color: var(--body-color);
    color: var(--body-bg);
  }
}