---
layout: default
title: Blog
---
<div class="blog-info">
  <p>Hi reader - welcome to my blog, Anthology! Here I write about a bunch of topics - pretty much whatever I'm interested in at the moment. To see everything I've published so far, check out the <a href="{{ site.baseurl }}/blog/archive">blog archive</a>.</p>
  <p>This started off on Imprint, the social blogging platform my friends and I worked on, so you can find older posts at <a href="https://anthony.imprint.to">Anthology @ Imprint</a>.</p>
  <hr/>
</div>
<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </h1>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

    {{ post.content }}
  </article>
  {% endfor %}
</div>
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | relative_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: relative_url }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

