---
layout: default
---

<article class="page">
  {% if page.title == "Home" %}
    <!-- <h1 class="page-title" id="greeting"></h1> -->
  {% elsif page.title == "Resume" %}
    <h1 style="text-align: center" class="page-title">Anthony Ding</h1>
  {% elsif page.title == "About" %}
    <h1 class="page-title">Hi, I'm Anthony!</h1>
  {% elsif page.title == "Contact Me" %}
    <h1 class="page-title">Get in touch</h1>
  {% else %}
    <h1 class="page-title">{{ page.title }}</h1>
  {% endif %}
  <!-- <br/> -->
  {{ content }}
</article>
